@import '../../styles/globalVars.scss';

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $keyGap;
  background: $keyboard-bknd;
  padding: $keyGap;
  box-sizing: border-box;
  border-radius: calc(0.15 * $btn-size-s);
}
.keyboard__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: $keyGap;
}
.keyboard__key {
  background-color: #2b2a2a;
  border-radius: calc(0.15 * $btn-size-s);
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  width: $btn-size-s;
  height: $btn-size-s;
  transition: transform 0.1s ease;
}
.keyboard__key_highlighted {
  background-color: $accent;
}
.keyboard__key_pressed {
  transform: scale(0.9);
}
.keyboard__key-main {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  color: $white;
}
.keyboard__key-main_held{
  text-decoration: underline;
  &::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 10px;
    background-color: $accent;
    border-radius: 50%;
    z-index: 2;
  }
}
.keyboard__key-shift {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.keyboard__key_size_m {
  width: $btn-size-m;
}
.keyboard__key_size_l {
  width: $btn-size-l;
}
.keyboard__key_size_xl {
  width: $btn-size-xl;
}
.keyboard__key_size_xxxl {
  width: $btn-size-xxxl;
}
