@import '../../styles/globalVars.scss';
.text-field {
  margin: 0;
  padding: 10px;
  border-radius: calc($btn-size-s * 0.1);
  background-color: $primary-dark;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  color: $white;
  font-size: 18px;
  outline: none;
  @media screen and (max-width: $breakpoint-extra-big) {
    padding: 5px;
    font-size: 14px;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    min-height: 150px;
    font-size: 16px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    min-height: 100px;
    font-size: 14px;
  }
}
